.wrapper {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #444;
  align-items: baseline;
}

.optionsWrapper {
  margin-top: 30px;
  padding: 10px;
}

.buttonWrapper {
  margin-top: 10px;
  text-align: center;
}

.name {
  margin: auto;
  padding-top: 10px; 
  /* font-size: 22px; */
  font-family: 'IBM Plex Sans', sans-serif;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: flex-start;
  flex-direction: row;
  max-width: 800px;
  margin: 20px 0px 0px 0px;
}

@media only screen and (max-width: 1080px) {
	.inputGroup {
		margin: 10px auto !important;
	}
}

input[type="number"] {
  border: 2px solid #BBB;
  width: 23%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  flex-shrink: 1;
  margin-left: 2px;
  margin-right: 2px;
}

/* Remove as setas do type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Checkbox */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.next {
  border: none;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.03), 0 6px 6px rgba(0,0,0,0.09);
  background: cyan;
  padding: 20px 25px 20px 25px;
  letter-spacing: 2px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;
}

.next:hover {
  box-shadow: 10px 10px 20px rgba(0,0,0,0.0.9), 0 6px 6px rgba(0,0,0,0.19);
  background: cornflowerblue;
}