@media only screen and (max-width: 1080px) {
	.header h1 {
		font-size: 46px !important;
	}
}

.header {
	text-align: center;
	width: 100%;
	height: 100px;
	padding: 16px;
	background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.header h1 {
	margin: 0;
	font-size: 56px;
	line-height: 56px;
	color: #FFF;
	font-family: 'Lato', sans-serif;
}